
.spinner{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
  
}

.spinner i{
    font-size: 30px;
    color: grey;
    animation-name: rotate-center;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes rotate-center {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }